---
const date = new Date();
import { formatDate } from "src/utils/dashboard.utils";
import ApexCharts from "apexcharts";
---

<div class="flex flex-col h-screen">
  <!-- Navbar -->
  <header class="sticky top-0 z-10 bg-sky-50 shadow">
    <div class="flex items-center justify-between p-2 border-b">
      <!-- Navbar left -->
      <div class="flex items-center space-x-3">
        <span
          class="p-2 text-2xl bg-gradient-to-r from-sky-700 via-sky-500 to-sky-700 text-transparent bg-clip-text font-extrabold flex justify-center items-center gap-2"
          >BioBlue <span
            class="text-xs rounded-md bg-gradient-to-r from-sky-700 via-sky-500 to-sky-700 text-white px-2 py-1 font-semibold"
            >DEMO</span
          ></span
        >
      </div>

      <!-- Navbar right -->
      <div
        class="relative hover:border-sky-500 flex items-center space-x-3 gap-4"
      >
        <a
          href="/login"
          class="flex gap-1 bg-gradient-to-r from-sky-700 via-sky-500 to-sky-700 text-white py-2 px-4 rounded-md hover:opacity-90 scale-75 md:scale-100 mr-1"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-logout"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"
            ></path><path d="M9 12h12l-3 -3"></path><path d="M18 15l3 -3"
            ></path></svg
          >Salir</a
        >
      </div>
    </div>
  </header>

  <!-- Main content -->
  <main class="flex-1 overflow-y-auto p-3">
    <!-- Main content header -->
    <div class="flex justify-between flex-row py-2">
      <span class="font-bold text-base md:text-xl">{formatDate(date)}</span>
      <div class="flex flex-col justify-end items-end">
        <span class="font-bold text-base md:text-xl"
          >Día<span class="ml-1" id="day">...</span></span
        >
        <span class="font-light tracking-tight text-base">Tanque Principal</span
        >
      </div>
    </div>

    <!-- Start Content -->
    <div class="grid gap-5 my-6 grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
      <div
        class="rounded-md border h-48 p-4 md:hover:scale-[1.03] transition-all relative hover:border-sky-500"
      >
        <p class="text-xl font-medium">Crustáceos</p>
        <p class="absolute bottom-5 right-5 text-7xl">
          <span class="mr-2" id="crustaceos">...</span><span class="text-3xl"
            >uni</span
          >
        </p>
      </div>
      <div
        class="rounded-md border h-48 p-4 md:md:hover:scale-[1.03] transition-all relative hover:border-sky-500"
      >
        <p class="text-xl font-medium">Oxigenación</p>
        <p class="absolute bottom-5 right-5 text-7xl">
          <span class="mr-2" id="oxygen">...</span><span class="text-3xl"
            >%</span
          >
        </p>
      </div>
      <div
        class="rounded-md border h-48 p-4 md:hover:scale-[1.03] transition-all relative hover:border-sky-500"
      >
        <p class="text-xl font-medium">Salinidad</p>
        <p class="absolute bottom-5 right-5 text-7xl">
          <span class="mr-2" id="salinity">...</span><span class="text-3xl"
            >ppt</span
          >
        </p>
      </div>
      <div
        class="rounded-md border h-48 p-4 md:hover:scale-[1.03] transition-all relative hover:border-sky-500"
      >
        <p class="text-xl font-medium">H2O</p>
        <p class="absolute bottom-5 right-5 text-7xl">
          <span class="mr-2" id="h2o">...</span><span class="text-3xl">m³</span>
        </p>
      </div>

      <div
        class="rounded-md border h-48 p-4 md:hover:scale-[1.03] transition-all relative hover:border-sky-500"
      >
        <p class="text-xl font-medium">Biofloc</p>
        <p class="absolute bottom-5 right-5 text-7xl">
          <span class="mr-2" id="biofloc">...</span><span class="text-3xl"
            >m³</span
          >
        </p>
      </div>
      <div
        class="rounded-md border h-48 p-4 md:hover:scale-[1.03] transition-all relative hover:border-sky-500"
      >
        <p class="text-xl font-medium">Plancton</p>
        <p class="absolute bottom-5 right-5 text-7xl">
          <span class="mr-2" id="plancton">...</span><span class="text-3xl"
            >m³</span
          >
        </p>
      </div>
    </div>
    <!-- GRAPH CONTAINER -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-16">
      <!--  GRAPH 1 -->
      <div class="flex flex-col justify-center items-center text-xl gap-5">
        % de Oxigenación semanal
        <div id="firstChart" class="w-full h-full"></div>
      </div>
      <!--  END GRAPH 1 -->

      <!--  GRAPH 2 -->
      <div class="flex flex-col justify-center items-center text-xl gap-5">
        % de Salinidad semanal
        <div id="secondChart" class="w-full h-full"></div>
      </div>
      <!--  END GRAPH 2 -->
    </div>
    <!-- ENDGRAPH CONTAINER -->
  </main>

  <!-- Main footer -->
  <footer
    class="flex items-center justify-between flex-shrink-0 p-4 max-h-14 w-full text-gray-600 bg-sky-50 border-t"
  >
    <span class="flex justify-center items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="animate-spin w-6 h-6"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-rotate-clockwise"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M4.05 11a8 8 0 1 1 .5 4m-.5 5v-5h5"></path></svg
      ><span id="updateSpan"></span></span
    >
    <div>BioBlue &copy; {date.getFullYear()}</div>
  </footer>
</div>

<script is:inline src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
  import { generate } from "src/utils/dashboard.utils";
  import { getDayCount } from "src/utils/dashboard.utils";

  const startDate = new Date("2024-02-01");
  const dayCount = getDayCount(startDate);

  //text elements
  const oxygen = document.getElementById("oxygen");
  const salinityElement = document.getElementById("salinity");
  const dayElement = document.getElementById("day");
  const updateSpan = document.getElementById("updateSpan");
  const h2oElement = document.getElementById("h2o");
  const crustaceosElement = document.getElementById("crustaceos");
  const bioflocElement = document.getElementById("biofloc");
  const planctonElement = document.getElementById("plancton");

  //countdown
  let count = 5;
  const interval = setInterval(() => {
    if (count > 0) {
      //Pre 5 secs
      if (updateSpan) {
        updateSpan.textContent = `Actualizando en ${count}`;
        updateSpan?.classList.remove("text-green-600");
      }
      count--;
    } else {
      // 5 secs
      const oxygenCurrent = generate(90, 10);
      const salinityCurrent = generate(30, 10);
      const h2oCurrent = generate(120, 3);
      const bioflocCurrent = generate(50, 3);
      const planctonCurrent = generate(20, 2);

      if (crustaceosElement) crustaceosElement.textContent = "14";
      if (oxygen) oxygen.textContent = `${oxygenCurrent}`;
      if (salinityElement) salinityElement.textContent = `${salinityCurrent}`;
      if (h2oElement) h2oElement.textContent = `${h2oCurrent}`;
      if (bioflocElement) bioflocElement.textContent = `${bioflocCurrent}`;
      if (planctonElement) planctonElement.textContent = `${planctonCurrent}`;
      if (dayElement) dayElement.textContent = `${dayCount}`;
      if (updateSpan) {
        updateSpan.textContent = `Actualizado`;
        updateSpan?.classList.add("text-green-600");
      }
      count = 5;
    }
  }, 1000);
  // firstChart
  let options1 = {
    chart: {
      type: "area",
    },
    series: [
      {
        name: "% diario",
        data: [95, 96, 96, 97, 98, 97, 97],
      },
    ],
    xaxis: {
      categories: ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb"],
    },
  };
  // secondChart
  let options2 = {
    chart: {
      type: "bar",
    },
    series: [
      {
        name: "% diario",
        data: [35, 33, 36, 31, 38, 34, 32],
      },
    ],
    xaxis: {
      categories: ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb"],
    },
  };

  let chart1 = new ApexCharts(document.querySelector("#firstChart"), options1);
  let chart2 = new ApexCharts(document.querySelector("#secondChart"), options2);

  chart1.render();
  chart2.render();

  document.addEventListener("contextmenu", (event) => event.preventDefault());
  document.addEventListener("keydown", (event) => {
    if (
      event.keyCode === 123 ||
      (event.ctrlKey && event.shiftKey && event.keyCode === 73)
    ) {
      event.preventDefault();
    }
  });
</script>
